
:root {
  --background-color: #61d79a;
  --primary-color: #3564ad;
  --button-color: #ffcb05;
  --font-bold: 700;
  --font-normal: 500;

}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Tahoma, sans-serif, Helvetica, sans-serif;
  font-weight: var(--font-normal);
  font-size: 1.1em;
  line-height: 2;
  background-color: var(--background-color);
}

h1 {
  font-size: 3em;
  font-weight: var(--font-bold);
}

h2 {
  font-size: 2em;
  font-weight: var(--font-bold);
}

h3 {
  font-size: 1.5em;
  font-weight: var(--font-bold);
}

.header-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  min-width: 300px;
  padding: 10px;
}

.pokemon-list {
  color: rgb(255, 255, 255);
  max-width: 700px;
  min-width: 300px;
  margin: auto;
  list-style: none;
  border-radius: 8px;
  border: 3px solid var(--primary-color);
}

.primary-button {
  background-color: var(--primary-color); 
  border: none;
  color: rgb(255, 255, 255);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: var(--button-color);
  color: rgb(74, 73, 128);
  border-radius: 3px;
  border: 3px solid var(--primary-color);
}